<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./information.css" />
</head>

<body>
    <div class="page">
        <div class="tab-title">title</div>
        <div class="employment-information">
            <table border="1" cellspacing="0" style="width:1200px;border:0">
                <tr>
                    <td style="width:385px;border:0">
                        <div class="infor-card1">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                    <td style="width:385px;border:0">
                        <div class="infor-card1" style="margin-left:10px;">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                    <td style="width:385px;border:0">
                        <div class="infor-card1" style="float: right;">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width:385px;border:0">
                        <div class="infor-card1">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                    <td style="width:385px;border:0">
                        <div class="infor-card1" style="margin-left:10px;">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                    <td style="width:385px;border:0">
                        <div class="infor-card1" style="float: right;">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td style="width:385px;border:0">
                        <div class="infor-card1">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                    <td style="width:385px;border:0">
                        <div class="infor-card1" style="margin-left:10px;">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                    <td style="width:385px;border:0">
                        <div class="infor-card1" style="float: right;">
                            <div class="job-title-container">
                                <div class="job-title">
                                    <div class="job-title-text">天线工程师</div>
                                    <div class="job-salary">15-30K</div>
                                </div>
                                <div class="job-title-age">深圳 | 3-5年 | 本科</div>
                            </div>
                            <div class="bottom-text">
                                <span>闻泰通讯股份有限公司</span>
                                <span>通信/网络设备</span>
                                <span>|</span>
                                <span>已上市</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        var a = [];
        for (var i = 0; i < 7; i++) {
            a[i] = function () {
                console.log(i);
            };
        }
        a[4](); 
    </script>
</body>

</html>